.row-container
{ 
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.column1
{
  flex: 1;
  padding: 20px;
  background-color: black;
  border-radius: 20px;
  height:75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column2
{
  flex: 2;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  height:75vh;
}
.column-h2
{
  color: white;
  text-align: center;
  font-size: 50px;
}
@keyframes typing {
  from
  {
    width: 0;
  }
  to
  {
    width: 100%;
  }
}
.typing-effect
{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(10, end) forwards;
}

